---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Smart Mirror</title>
	</head>
	<body>
	
    <main class="flex justify-center items-center min-w-screen gap-8">
        <slot />

	</main>        

	</body>
</html>
